Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

# a simple list
# list = ['4', '8', '15', '16', '23','42']
list = [4, 8, 15, 16, 23,42]
# create series from a list
ser = pd.Series(list)
print(ser)

ModuleNotFoundError: No module named 'pandas'

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
list1=[5,3,7,4,8,9,6,7,4,3]
ser1 = pd.Series(list1)
print(ser1)

0    5
1    3
2    7
3    4
4    8
5    9
6    6
7    7
8    4
9    3
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:



Name            Age          Gender 
Alice           25           Female
Bob             30           Male
Claire          27           Female



Then, print the DataFrame.

In [4]:
table_data = {'Name' : ["Alice","Bob","Claire"],"Age" : [25,30,27],"Gender":["Female","Male","Female"]}

In [6]:
labels = ["a","b","c"]

In [7]:
df = pd.DataFrame(table_data, index = labels)

In [8]:
print(df)

     Name  Age  Gender
a   Alice   25  Female
b     Bob   30    Male
c  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.

Pandas Series                             	                             Pandas DataFrame
1.One-dimensional	                                                     1.Two-dimensional
2.Homogenous – Series elements mustbe of the same data type.	         2.Heterogenous – DataFrame elements                                                                          can have different data types.
3.Size-immutable – Once created, the size of a Series object             3.Size-mutable – Elements can be                                                                              dropped or added in an
cannot be changed.                                                       existing DataFrame.

Examples are listed in the above questions.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas is a popular Python library for data manipulation and analysis. It provides a DataFrame data structure which is similar to a table in a relational database. Here are some common functions that you can use to manipulate data in a Pandas DataFrame:

1. 
head() - Returns the first n rows of the DataFrame. This function is useful to quickly inspect the data and get an idea of what it looks like. For example, you can use df.head(10) to get the first 10 rows of the DataFrame.

2. 
tail() - Returns the last n rows of the DataFrame. This function is useful to check the last few rows of the DataFrame. For example, you can use df.tail(5) to get the last 5 rows of the DataFrame.

3. 
describe() - Generates descriptive statistics for the DataFrame. This function gives you an idea of the distribution of your data and can be used to detect outliers or anomalies. For example, you can use df.describe() to get the mean, standard deviation, minimum, maximum, and quartile values for each column in the DataFrame.

4. 
groupby() - Groups the DataFrame by a specified column and returns a DataFrameGroupBy object. This function is useful when you want to analyze data based on a specific category or grouping. For example, you can use df.groupby('category').mean() to group the DataFrame by the 'category' column and calculate the mean of each group.

5. 
fillna() - Fills missing values in the DataFrame with a specified value or method. This function is useful when you have missing data and you want to fill in the gaps. For example, you can use df.fillna(0) to replace all missing values with 0.

6. 
sort_values() - Sorts the DataFrame by one or more columns. This function is useful when you want to sort your data in a specific order. For example, you can use df.sort_values('date') to sort the DataFrame by the 'date' column in ascending order.

7. 
drop() - Drops specified labels from rows or columns. This function is useful when you want to remove unwanted columns or rows from the DataFrame. For example, you can use df.drop(['column1', 'column2'], axis=1) to drop the 'column1' and 'column2' columns from the DataFrame.

One example of when you might use one of these functions is when you have a DataFrame with missing values and you want to fill them in. You can use the fillna() function to replace the missing values with a specified value or method, such as the mean or median of the column. For example:

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'A': [1, 2, np.nan, 4],
                   'B': [5, np.nan, 7, 8],
                   'C': [9, 10, 11, 12]})

# Fill missing values with the mean of the column
df.fillna(df.mean(), inplace=True)

This code replaces the missing values in the DataFrame with the mean of the column.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

All Pandas data structures are value mutable (can be changed) and except Series all are size mutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [2]:

import pandas as pd
# Create pandas Series
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

# Combine two series.
df=pd.concat([courses,fees],axis=1)

# It also supports to combine multiple series.
df=pd.concat([courses,fees,discount],axis=1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000